# === Gradle Build ===
.gradle/
build/

# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
*.ipr
out/

# === Eclipse===
.settings/
.classpath
.project
bin/

# === System Files ===
.DS_Store
Thumbs.db

# === Logs ===
*.log

# === H2 Database ===
*.mv.db
*.trace.db